#map {
    margin: auto;
    height: 50vh;
    width: 60vw;  
    border: solid 0.1pt rgb(196, 196, 196);
    border-radius: 10pt;
}


#sidebar {
  flex-basis: 5rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 50vh;
  box-sizing: border-box;
  overflow: auto;
}

#sidebar {
    display: flex;
    flex-direction: column;
}
  
.clicked-coordinates {
    margin-top: 2vh;
    padding: 1vw;
    border: 1px solid #8a8a8a;
    background-color: #f9f9f9;
    width: 50%;

    margin-left: auto; /* Auto margin on left side */
    margin-right: auto; /* Auto margin on right side */
}

.slider-container {
    width: 80%;
    margin: auto;
}

.search-container {
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-top: 3vh;

    border: solid black 2px ;
    width: 60vw;
    height: 10vh; 

    justify-content: center;
    display: flex;
} 

.search-container button {
    width: 100px; /* specify your desired width */
    height: 40px; /* specify your desired height */
}

.search-container .MuiAutocomplete-clearIndicator,
.search-container .MuiAutocomplete-popupIndicator {
    width: 30px; /* Adjust the width to your desired size */
    height: 30px; /* Adjust the height to your desired size */
}

.search-container .MuiAutocomplete-root {
    margin-right: 10px; /* Adjust spacing between search box and button */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    flex-grow: 1;
}

li {
background-color: #f1f1f1;
padding: 10px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
font-size: 1.25rem;
cursor: pointer;
}

li:nth-child(odd) {
background-color: #fcfcfc;
}

button {
width: 100%;
padding: 1rem;
flex-grow: 0;
cursor: pointer;
background: #1a73e8;
font-size: 1.5rem;
color: white;
border: none;
}

button:hover {
color: #c5d4f0;
}

button:disabled {
background-color: #9fc1ee;
color: #c5d4f0;
cursor: auto;
}
