#map {
    /* display: flex; */
    height: 50vh;
    width: 60vw;  
    border: solid 0.1pt rgb(196, 196, 196);
    border-radius: 10pt;
}

.clicked-coordinates {
    margin-top: 2vh;
    padding: 1vw;
    border: 1px solid #8a8a8a;
    background-color: #f9f9f9;
    width: 50%;

    /* margin-left: */

    margin-left: auto; /* Auto margin on left side */
    margin-right: auto; /* Auto margin on right side */
}

.slider {
    margin-top: 5vh;
}